<div class="row">
            <div class="footerContent">
                <div class="col-lg-3 col-md-3 col-xs-12">INFORMATION
                    <ul>
                        <li><a href="?view=aboutUs">About us</a></li>
                        <li><a href="?view=deliveryInformation">Delivery Information</a></li>
                        <li><a href="?view=conditions">Terms and Conditions</a></li>
                        <li class="last">Powered by OpenCart. Your Store 2017</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12">CUSTOMER SERVICE
                    <ul>
                        <li><a href="?view=contactUs">Contact us</a></li>
                        <li><a href="?view=returns">Returns</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-3 col-xs-12">EXTRAS
                    <ul>
                        <li><a href="?view=brands">Brands</a></li>
                        <li><a href="?view=giftVouchers">Gift Vouchers</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12">MY ACCOUNT
                    <ul>
                        <li><a href="?view=myAccount">My account</a></li>
                        <li><a href="?view=orderHistory">Order history</a></li>
                        <li class="last"><img src="assets/images/footer.png" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
