<div class="row">
            <div class="footerContent">
                <div class="col-lg-3 col-md-3 col-xs-12">INFORMATION
                    <ul>
                        <li>About us</li>
                        <li>Delivery Information</li>
                        <li>Terms and Conditions</li>
                        <li class="last">Powered by OpenCart. Your Store 2017</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12">CUSTOMER SERVICE
                    <ul>
                        <li>Contact us</li>
                        <li>Returns</li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-3 col-xs-12">EXTRAS
                    <ul>
                        <li>Brands</li>
                        <li>Gift Vouchers</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12">MY ACCOUNT
                    <ul>
                        <li>My account</li>
                        <li>Order history</li>
                        <li class="last"><img src="assets/images/footer.png" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
