 <div class="header">
            <div class="row">
                <ul>
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <li>
                            <a href=""><img src="assets/images/logo.png" alt="STOWEAR"></a>
                        </li>
                    </div>

                    <div class="col-lg-4 col-md-3 col-xs-12">
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Create an account</a></li>
                    </div>

                    <div class="col-lg-2 col-md-3 col-xs-12">
                        <li>
                            <a href="#">
                                <input type="text" id="txtSearch">
                            </a>
                        </li>
                    </div>

                    <div class="col-lg-2 col-md-2 col-xs-12">
                        <li>
                            <a href="#"><img src="assets/images/bag.png" alt="bag"></a>
                        </li>
                        <li>$0.00</li>
                    </div>
                </ul>
            </div>
        </div>
